.header {
    position: fixed;
    bottom: 10px;
    left: calc(50% - 146px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div {
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.header div:hover {
    background-color: white;
    scale: 1.2;
}

.header pre {
    width: 1px;
    height: calc(100% - 20px);
    background-color: white;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}