.header {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 146px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    /* border: solid 2px black inset; */
    /* box-shadow: 0 0 0 2px black inset; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div {
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    /* border: solid $b black; */
    /* &:before {
		position: absolute;
		z-index: -1;
		top: -$b; right: -$b; bottom: -$b; left: -$b;
		border: inherit;
		border-color: transparent;
		background: inherit;
		background-clip: border-box;
		-webkit-filter: $blur;
			   filter: $blur;
		-webkit-clip-path: $rect;
			   clip-path: $rect;
		content: '';
	} */
}

.header div:hover {
    background-color: white;
    /* border: solid 2px black; */
    scale: 1.2;
}

.header pre {
    width: 1px;
    height: calc(100% - 20px);
    background-color: white;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}